html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.button-58 {
    appearance: none;
    background-color: transparent;
    border: 1.5px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 10px;
    min-width: 0;
    outline: none;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.button-58:disabled {
    pointer-events: none;
}

.button-58:hover {
        color: #fff;
        background-color: rgba(0,0,0,0.75);
        border-color: rgba(0,0,0,0);
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-1px);
}

.button-58:active {
    box-shadow: none;
    transform: translateY(0);
}
.button-59 {
    appearance: none;
    background-color: rgb(255, 177, 0);
    border: 1.5px solid rgb(255, 177, 0);
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 10px;
    min-width: 0;
    outline: none;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

    .button-59:disabled {
        pointer-events: none;
    }

    .button-59:hover {
        color: #FFF;
        background-color: rgb(251, 194, 82);
        border: 1.5px solid rgb(251, 194, 82);
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-0.75px);
    }

    .button-59:active {
        box-shadow: none;
        transform: translateY(0);
    }

.button-60 {
    appearance: none;
    background-color: transparent;
    text-decoration-line:underline!important;
    border: 1.5px hidden rgb(255, 177, 0);
    border-radius: 15px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 10px;
    min-width: 0;
    outline: none;
    padding: 0px 0px;
    margin-left : 5px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

    .button-60:disabled {
        pointer-events: none;
    }

    .button-60:hover {
        color: rgba(0,0,0,0.75);
        transform: translateY(0px);
    }

    .button-60:active {
        box-shadow: none;
        transform: translateY(1px);
    }
.button-61 {
    appearance: none;
    background-color: rgb(193, 18, 31);
    border: 1.5px solid rgb(193, 18, 31);
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 10px;
    min-width: 0;
    outline: none;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

    .button-61:disabled {
        pointer-events: none;
    }

    .button-61:hover {
        color: #FFF;
        background-color: rgba(193, 18, 31,0.9);
        border: 1.5px solid rgba(193, 18, 31,0.9);
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-1px);
    }

    .button-61:active {
        box-shadow: none;
        transform: translateY(0);